/* Don't forget to import this in the ts file */
mat-card{
  background: white;
  color: black;
}

mat-form-field-hide-placeholder {
  color: black;
}

mat-form-field, textarea {
  width: 100%;
}

mat-spinner {
  margin: auto; /* Center */
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
