<!-- We can also use String interpretation in the textarea -->
<!-- The square brackets is an example of property binding, we use it generally to output data -->
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->

<!-- [()] is a two-way directive, combines setting and reading of a variable -->
<!-- This will updated 'enteredValue' with every keystroke. matInput will turn it into an angular material component -->

<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <!-- Form group directive equals whatever the property we set in the TS file-->
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <!-- <input matInput type="text" [(ngModel)]="enteredTitle"> -->
      <!-- [ngModel] (can only use for template-driven) pre-populates form and post is coming from the post field in the ts file-->
      <!-- use ? operator to check whether that field exists first-->
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title">
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
      </mat-form-field>
      <div>
        <!-- Default is type="submit" and tries to submit whole form -->
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <!-- Hide this button and use the one above-->
        <input type="file" #filePicker>
      </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        name="content"
        placeholder="Post Content">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter content.</mat-error>
    </mat-form-field>
    <!-- Angular event listener -->
    <!-- <button mat-raised-button color="primary" (click)="onAddPost()">Save Post </button> -->
    <button
    mat-raised-button
    color="primary"
    type="submit">Save Post
    </button>
  </form>
</mat-card>

<!-- String interpretation: Add output hooks to template double curly brackets. A property name or method from the ts file can go inside of them -->
<!-- <p>{{ newPost }}</p> -->
